.textWrapper {
    padding: 10px 0;
    background-color: rgba(218, 218, 218, 0.658);
    margin: -10% auto;
}
.about a {
    text-decoration: none;
    color: black;
}
.about a:hover {
    color: green;
}
.about h1 {
    font-size: 35px;
}
.about h5 {
    margin-bottom: 10px;
    /* font-size: 14px; */
}
.about h3 {
    margin-bottom: 20px;
    font-size: 20px;
}
.about p {
    padding: 0 20px 20px 20px;
}

.about {
    margin-top: -1rem;
    padding: 45vh 10%;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../../../static/imgs/c17Penguin2.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../../../static/imgs/c17Penguin2.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../../../static/imgs/c17Penguin2.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../../../static/imgs/c17Penguin2.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* min-height: calc(100vh -75px); */
}