.navContainer {
  display: flex;
  justify-content: space-evenly;
}


.navlogo {
  height: 50px;
  width: 50px;
  padding: 0;
}

.segmentHolder {
  box-shadow: -5px 1px 9px 1px green;
  padding: '8px';
  position: sticky;
  top: 0;
}